{{#partial "content"}}
    {{#if username }}
        <h1>Welcome {{username}}!</h1>
    {{ else }}
        <h1>Welcome Comic Book Enthusiasts!</h1>
        <!-- TODO:dbr - Add sign-in -->
        <form action="/password" method="post">
            <input type="text" placeholder="What's your user name?" name="username">
            <button>Sign in</button>
        </form>
    {{/if}}
{{/partial}}

{{> base.hbs}}