{{#partial "title"}}Sign-in{{/partial}}

{{#partial "content"}}

        <form action="/password" method="post">

            <fieldset>

                <label for="name">Enter your username:</label>
                <input type="text" id="user_name" name="username">

            </fieldset>

            <button>Submit</button>
        </form>

{{/partial}}

{{> base.hbs}}