{{#partial "title"}}Sign-in{{/partial}}

{{#partial "content"}}

    {{#if username}}
        <form action="/edit" method="post">

            <h1>Admin Sign-In</h1>

            <fieldset>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password">

            </fieldset>

            <button>Sign in</button>
        </form>
    {{ else }}
        <form action="/edit" method="post">

            <fieldset>

                <label for="name">Enter your username:</label>
                <input type="text" id="user_name" name="username">

            </fieldset>

            <button>Submit</button>
        </form>
    {{/if}}

{{/partial}}

{{> base.hbs}}